<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.golfzonaca.officesharingplatform.repository.mybatis.PaymentMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into payment (user_id, room_id, pay_date, pay_time, pay_price, pay_mileage, pay_status, pay_type,
                             pay_api_code)
        values (#{userId}, #{roomId}, #{payDate}, #{payTime}, #{payPrice}, #{payMileage}, #{payStatus}, #{payType},
                #{payApiCode})
    </insert>

</mapper>